.home {
    width: 100%;
    height: calc(95vh - 60px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0;
    gap: 5rem;
}

.home .home-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 2rem; */
}

.home-text-titulo {
    font-size: 3.2rem;
    font-weight: 800;
    margin-bottom: 8px;
    line-height: 1.2;
}

.home-text-subtitulo {
    font-size: 1.4rem;
    margin-bottom: 3rem;
    line-height: 1.6;
}

.home-link {
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: var(--color-primary);
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.home-link:hover {
    background-color: #64748B;
    transform: translateY(-2px);
}

.home .home-img {
    width: 30%;
    display: flex;
}

.home-img img {
    width: 100%;
    height: calc(90vh);
    /* max-height: 550px; */
    /* object-fit: cover; */
    border-radius: 16px;
}
