@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root {
  /* Cores Primárias */
  --color-primary: #3B4554; /* Azul Escuro Suave */
  --color-background: #eaeaea; /* Fundo Geral */
  --color-surface: #F1F5F9; /* Fundo de cards */
  --color-surface-light: #E2E8F0; /* Variação mais clara de fundo */

  /* Cores de Texto */
  --color-text-primary: #3B4554;
  --color-text-secondary: #64748B;

  /* Cores Utilitárias */
  --color-white: #FFFFFF;
  --color-success: #10B981;
  --color-error: #EF4444;
}

body {
    background-color: var(--color-background);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: var(--color-text-primary);
    padding: 20px;
}

/* .container {
    margin: 0 15rem;
} */