/* Container principal */
.artigo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* margin-top: 3rem; */
    width: 100%;
    padding: 0 1rem;
}

.cards-container {
    display: flex;
    gap: 1rem;
}

/* Títulos e textos */
.artigos-title {
    font-size: 2.2rem;
    font-weight: 700;
    color: #222;
    margin-bottom: 0.5rem;
}

.artigos-txt {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #444;
    margin-bottom: 2rem;
}